

body{

}



.Navbar{
	background-color:green;
	display:flex;
	padding: 16px;
	font-family: sans-serif;
	color:white;
}

.Navbar__Items{
	display:flex;
}

.Navbar__Link{
	padding-right: 8px;
}


.Navbar__Items--right {
	margin-left: auto;
}


/* Adaptar resoluciones */

@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
  .Navbar__Items{
  	display:none;
  }
  .Navbar__Items--right {
    margin-left: 0;
  }
}